In [1]:
import pandas as pd

# load original dataset
df = pd.read_csv("../data/autos.csv")
df.count()

symboling            205
normalized-losses    205
make                 205
fuel-type            205
aspiration           205
num-of-doors         205
body-style           205
drive-wheels         205
engine-location      205
wheel-base           205
length               205
width                205
height               205
curb-weight          205
engine-type          205
num-of-cylinders     205
engin-size           205
fuel-system          205
bore                 205
stroke               205
compression-ratio    205
horsepower           205
peak-rpm             205
city-mpg             205
highway-mpg          205
price                205
dtype: int64

In [2]:
# remove symboling feature  & samples having mv in target
df = df.drop("symboling", axis=1)
df['normalized-losses'] = pd.to_numeric(df['normalized-losses'], errors="coerce")
df = df.dropna()
df.count()

normalized-losses    164
make                 164
fuel-type            164
aspiration           164
num-of-doors         164
body-style           164
drive-wheels         164
engine-location      164
wheel-base           164
length               164
width                164
height               164
curb-weight          164
engine-type          164
num-of-cylinders     164
engin-size           164
fuel-system          164
bore                 164
stroke               164
compression-ratio    164
horsepower           164
peak-rpm             164
city-mpg             164
highway-mpg          164
price                164
dtype: int64

In [3]:
# change cat -> num
cat_to_num = {"two": 2, "three": 3, "four": 4, "five": 5,
             "six": 6, "eight": 8, "twelve": 12}
df = df.replace(to_replace=cat_to_num)

In [4]:
# change "?" -> NaN in features
df['num-of-doors'] = pd.to_numeric(df['num-of-doors'], errors="coerce")
df['bore'] = pd.to_numeric(df['bore'], errors="coerce")
df['stroke'] = pd.to_numeric(df['stroke'], errors="coerce")
df['horsepower'] = pd.to_numeric(df['horsepower'], errors="coerce")
df['peak-rpm'] = pd.to_numeric(df['peak-rpm'], errors="coerce")
df['price'] = pd.to_numeric(df['price'], errors="coerce")

In [5]:
df.count()

normalized-losses    164
make                 164
fuel-type            164
aspiration           164
num-of-doors         163
body-style           164
drive-wheels         164
engine-location      164
wheel-base           164
length               164
width                164
height               164
curb-weight          164
engine-type          164
num-of-cylinders     164
engin-size           164
fuel-system          164
bore                 160
stroke               160
compression-ratio    164
horsepower           164
peak-rpm             164
city-mpg             164
highway-mpg          164
price                164
dtype: int64

In [6]:
# removed all NaN in features
df_removed_mv = df.dropna()
df_removed_mv.count()

normalized-losses    159
make                 159
fuel-type            159
aspiration           159
num-of-doors         159
body-style           159
drive-wheels         159
engine-location      159
wheel-base           159
length               159
width                159
height               159
curb-weight          159
engine-type          159
num-of-cylinders     159
engin-size           159
fuel-system          159
bore                 159
stroke               159
compression-ratio    159
horsepower           159
peak-rpm             159
city-mpg             159
highway-mpg          159
price                159
dtype: int64

In [7]:
df = df.reset_index(drop=True)
df_removed_mv = df_removed_mv.reset_index(drop=True)

In [8]:
df.to_csv("../data/autos_removed_target_mv.csv", index=False)
df_removed_mv.to_csv("../data/autos_removed_all_mv.csv", index=False)